#board {
    border-radius: 5px;
    background-color: #04009A;
    display: flex;
    flex-wrap: wrap;
}
.col:hover {
    background-color: #77ACF1;
    cursor: pointer;
}
.cell {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: white;
    margin: 1vw;
}