#board {
    border-radius: 10px;
    background-color: #04009A;
    display: flex;
    flex-wrap: wrap;
    width: max-content;
}
.col:hover {
    background-color: #77ACF1;
    cursor: pointer;
}
.cell {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: white;
    margin: 0.7vw;
}