#message-div {
    color: black;
    border-radius: 5px;
    padding: 1vw;
    width: 20%;
    box-sizing: border-box;
    background-color: lightgray;
}

#message-div form {
    margin: 5px;
}

#messages {
    text-align: left;
    font-size: 1.2vw;
    max-height: 45vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#messages p {
    margin: 0.8vw;
}

#message-div label {
    font-size: 1.2vw;
    text-align: center;
}

#message-div input {
    border-radius: 1px;
    border: 1px solid black;
    width: 90%;
    margin: 0.5vw;
    padding: 0.3vw;
    font-size: 1vw;
}

#message-div button {
    padding: 0.4vw;
    margin: 0.1vw auto;
    background-color:#b9b9b9;
}
